*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.contaiener{
    width: 65%;
    margin: 0 auto;
    height: 100vh;
}

.btns{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 30%;
}

button{
    padding: 10px 19px;
    background-color: blueviolet;
    border-radius: 10px;
    border-color: transparent;

}
button:active{
    background-color: greenyellow;
}
a{
    color: white;
    text-decoration: none;
}